In [2]:
def rmse(y_true, y_pred):
    return numpy.sqrt(mean_squared_error(y_true, y_pred))

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 2.2 MB/s eta 0:00:01    |██                              | 614 kB 727 kB/s eta 0:00:13
Requirement already satisfied: numpy>=1.13.3 in /home/peppa/miniconda3/envs/assignment_1/lib/python3.7/site-packages (from pandas) (1.18.1)
Collecting pytz>=2017.2
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 2.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /home/peppa/miniconda3/envs/assignment_1/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/peppa/miniconda3/envs/assignment_1/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.0.3 pytz-2019.3
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

data = pd.read_csv('data/insurance.csv')

data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
X = pd.get_dummies(data.drop(['charges'], axis=1), columns=['sex', 'smoker', 'region'])
y = data['charges'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=7)
print(f"train size: {X_train.shape[0]}")
print(f"test size: {X_test.shape[0]}")

train size: 936
test size: 402

In [8]:
model = RandomForestRegressor(random_state=15, n_jobs=6)
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=6, oob_score=False,
                      random_state=15, verbose=0, warm_start=False)

In [13]:
y_pred = model.predict(X_test)
print(f"test score is {rmse(y_test, y_pred)}")

test score is 4892.652574760766